@font-face {
  font-family: "Russo-One";
  src: url(../font/Audiowide-Regular.ttf);
}

body {
  font-family: "Russo-One" !important;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.view-card {
  background-color: #eee;
  border-radius: 20px;
  height: 50%;
}

.active {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff !important;
  font-size: 16px;
  font-weight: bold;
  background-color: orangered;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.active {
  color: #fcfcfc;
}
